* {
    padding: 0;
    margin: 0;
}
html { height: 100% }



body{
    overflow-x: hidden;
    min-height: 100%;
    background: #222222;
    font-family: 'Inter', sans-serif;
    color: #fff;
    min-height: 515px;
    background-image: url('../../public/concrete-wall.png');
    
}

.app_container {
    
   
}


body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #000000;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #27e98e;
    

}


.stripes_img {
    background-image: url("../../public/stripesbg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 74px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -2;
}


::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #24FDAF;
  }
  
  ::selection {
    color: #fff;
    background: #24FDAF;
  }

  @media (max-width: 800px) {


    .stripes_img {
        display: none;

    }

}