header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100px;
}

header > ul {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 145px;
    list-style: none;
    grid-column-end: 3;
    text-transform:uppercase;
    font-size: 14;
    font-weight: 400;
    
}

header a {
    color: #fff;
    text-decoration: none;
}

.link {
    transition: 100ms;
    color: #fff;
    padding-bottom: 0.4rem;
}

.link:hover {
    border-bottom: 1px solid #24FDAF;
    transition: 100ms;
}

.link.active {
    transition: 100ms;
    font-weight: 600;
    border-bottom: 5px solid #24FDAF;
}

.res {
    box-sizing: border-box;
    border: 1px #24FDAF solid;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
}

.res:hover {
    background: #24FDAF;
    color: #222222;
}



.dropdown {
    z-index: 3;
    position: absolute; 
    margin-top: 0.4rem;
    background-color: #24FDAF;
    color:  #222222;
    padding: 1rem 7rem 1rem 1rem;
    
    animation: dropdown_animation 100ms ease-in forwards;
}

.dropdown_menu {
    list-style-type: none;
    
}

.dropdown_menu > li {
    margin-bottom: 20px;
    opacity: 0.0;
    animation: appearing 100ms ease-in 200ms forwards;
}

.dropdown_menu > li > a {
    color:  #222222;
}
.dropdown_menu > li > a:hover{
    border-bottom: 1px solid #222222;
}
.link_dropped {
    font-weight: 500;
}

.link_dropped.active {
    font-weight: 600;
    border-bottom: 5px solid #222222;
}

@media (max-width: 1024px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
        height: 100px;
    }
    header {
        display: flex;
        justify-content: center;
    }
    header > ul {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        margin-right: 0px;
        width: 100%;
        list-style: none;
        text-transform:uppercase;
        font-size: 14;
        font-weight: 400;
        
    }
}


@media (max-width: 800px) {

    header {
        height: 80px;
        background-image: url("../../public/stripesbgmobile.svg");
        background-repeat: no-repeat;
        background-position: 0px -20px;
        
    }


}

@keyframes appearing {
    from {opacity: 0.0}
    to {opacity: 1.0}
}

@keyframes dropdown_animation {
    from { height: 0px;
    width: 40px;}
    to {
        height: 80px;
        width: 70px;
    }
    
}