.projects_container {
    display: flex;
    
 justify-content: center;
   
}

@media (max-width: 1024px) {
    .projects_container {
        display: flex;
        justify-content: center;
        margin-left: 90px;
        margin-right: 90px;
    }

}

@media (max-width:800px) {
    .projects_container {
        display: flex;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }
}